.idea
__pycache__
.vscode
python/__pycache__/
.mypy_cache
db/ibtmp1
db/ddl_recovery.log
paddle_api/app/input/*
paddle_api/app/output/*
.env
main
.iml
paddle_api/app/.idea
paddle_api/app/paddle_app.file
~
paddle_api/app/processedVideos/*
paddle_api/app/processedImages/*
paddle_api/app/paddle_api.exe

# Ionic
/.ionic
/www
/platforms
/plugins
/android
.ionic
www
platforms
plugins
android

# Node
/node_modules
node_modules
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.angular
.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings