<section class="container">
  <header>
    <h1 class="header">
      Step 2: Check position
      <ion-button 
        id="open-modal"
        class="btn-ip" 
        expand="block"
        [color]="host_ip != undefined && host_ip != '' ? 'success' : 'danger'">
        Setup ip-address
      </ion-button>
    </h1>
  </header>

  <div class="position-info">
    <ol>
      <li>Athlete takes position conform guidelines.</li>
      <li>Take picture of positioning.</li>
      <li>Wait for image to be processed.</li>
      <li>Retry at faulty image or continue.</li>
    </ol>
  </div>

  <div
    class="proccessing-info"
    [class.proccessing-info--faulty-pos]="pictureTaken && !pictureApproved"
    [class.proccessing-info--processing-pos]="pictureTaken && pictureProcessing"
    [class.proccessing-info--approved-pos]="pictureTaken && pictureApproved">
    
    <p>
      Picture status: 
      <span 
        class="picture-status"
        [class.picture-status--faulty-pos]="pictureTaken && !pictureApproved"
        [class.picture-status--processing-pos]="pictureTaken && pictureProcessing"
        [class.picture-status--approved-pos]="pictureTaken && pictureApproved">
        {{getStatus()}}
      </span>
    </p>
  </div>
  
  <div class="camera-press">
    <ion-fab-button
      (click)="getPosition()"
      [disabled]="host_ip == undefined || host_ip == ''">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>

    <span class="camera-press-info">Press to take picture</span>
  </div>

  <div *ngIf="pictureTaken" class="button-section">
    <button (click)="setPictureTaken(false)">Retry</button>
    <button
      [disabled]="!pictureApproved"
      (click)="emitValue()">
      Continue
    </button>
  </div>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter your ip-address:</ion-label>
          <ion-input type="text" placeholder="Your ip-address" [(ngModel)]="host_ip"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</section>
