.container {
    width: 80%;
    margin: 50px auto;

    .header {
        padding: 10px;
        margin: 0 0 20px 0;

        font-size: 14px;
        font-weight: 100;
        font-style: italic;

        border-bottom: 1px solid #03a9f4;
    }

    .form-start-trainig {
        width: 100%;

        .form-input {
            display: flex;
            flex-direction: column;
            margin: 0 10px;

            .form-label {
                margin: 0 0 5px 0;

                color: #03a9f4;
                font-weight: 600;
            }

            .form-input-text {
                margin: 0 0 10px 0;
                padding: 5px;
                
                border-radius: 5px;
                border: 1px solid lightgray;
                background-color: white;
                
                font-size: 20px;
            }
        }

        .error-message {
            margin: 0 0 15px 0;
            font-size: 12px;
            font-style: italic;
            color: red;
        }

        button {
            width: 100%;
            margin: 20px 0 0 0;
            padding: 10px;
            
            font-size: 20px;
            background: rgb(3,169,244);
            background: linear-gradient(56deg, rgba(3,169,244,1) 0%, rgba(255,255,255,1) 100%);
        }
    }
}