<section class="container">
  <header>
    <h1 class="header">Step 1: Start training</h1>
  </header>

  <form class="form-start-trainig" [formGroup]="myForm">
    <div class="form-input">
      <label class="form-label" for="coach_name">Name coach:</label>
      <input 
        class="form-input-text" 
        type="text" 
        id="coach_name" 
        name="coach_name"
        formControlName="name_coach">

        <div *ngIf="myForm.controls['name_coach'].invalid && myForm.controls['name_coach'].touched" class="error-container">
          <p class="error-message">
            Field has to be filled!
          </p>
        </div>
    </div>

    <div class="form-input">
      <label class="form-label" for="athlete_name">Name Athlete:</label>
      <input 
        class="form-input-text" 
        type="text" 
        id="athlete_name" 
        name="athlete_name"
        formControlName="name_athlete">
      
        <div *ngIf="myForm.controls['name_athlete'].invalid && myForm.controls['name_athlete'].touched" class="error-container">
          <p class="error-message">
            Field has to be filled!
          </p>
        </div>
    </div>

    <div class="form-input">
      <label class="form-label" for="training_name">Name training:</label>
      <input 
        class="form-input-text" 
        type="text" 
        id="training_name" 
        name="training_name"
        formControlName="name_training">
      
        <div *ngIf="myForm.controls['name_training'].invalid && myForm.controls['name_training'].touched" class="error-container">
          <p class="error-message">
            Field has to be filled!
          </p>
        </div>
    </div>
    
    <button [disabled]="!myForm.valid" (click)="emitValue()">Start</button>
  </form>
</section>
