<!-- <script>
	$(function() {
		$(".navbar-static-top").load("navbar.html", function() {
			$(".navbar-static-top li.dropdown").addClass("active");
			$(".navbar-static-top a[href='videoroomtest.html']").parent().addClass("active");
		});
		$(".footer").load("footer.html");
	});
</script> -->

<!-- <nav class="navbar navbar-default navbar-static-top">
</nav> -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			

      <div class="page-header">
				<h1>Paddle demo
					<button class="btn btn-default" autocomplete="off" id="start" onclick="return start();">Start</button>
				</h1>
			</div>
			

      <div class="container hide" id="videojoin">
				<div class="row">
					<span class="label label-info" id="you"></span>
					<div class="col-md-12" id="controls">
						<div class="input-group margin-bottom-md hide" id="registernow">
							<span class="input-group-addon">@</span>
							<input autocomplete="off" class="form-control" type="text" placeholder="Choose a display name" id="username" onkeypress="return checkEnter(this, event);" />
							<span class="input-group-btn">
								<button class="btn btn-success" autocomplete="off" id="register" onclick="return registerUsername();">Join the room</button>
							</span>
						</div>
					</div>
				</div>
			</div>


			<div class="container hide" id="videos">
				<div class="row">


					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Remote Video #1 <span class="label label-info hide" id="remote1"></span></h3>
							</div>
							<div class="panel-body relative" id="videoremote1"></div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

	<hr>
	<div class="footer">
	</div>
</div>

<!-- <section class="container">
  <header>
    <h1 class="header">Step 3: Stream training</h1>
  </header>

  <div class="position-info">
    <ol>
      <li>When ahtlete is ready, start stream.</li>
      <li>Keep camera centered on the trainig.</li>
      <li>See live feedback on the phone.</li>
      <li>Stop streaming when training is done.</li>
    </ol>
  </div> -->

  <!-- <div class="stream"></div> -->
  <!-- <video #videoElement autoplay></video>
  
  <div class="camera-press">
    <ion-fab-button color="dark" (click)="setStreamStarted()">
      <ion-icon name="ellipse" [color]="getRecColor()"></ion-icon>
    </ion-fab-button>
  </div>

  <div class="processed-data">
    <ul id="terminal">
    </ul>
  </div>

</section> -->
